{% load bootstrap4 %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Навигационная панель</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'post_list' %}">Посты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'author_list' %}">Авторы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_page' %}">Главная страница</a>
                        </li>
                    </ul>
                        <form class="form-inline my-2 my-lg-2 text-white" method="get" action="{% url 'search_form' %}">
                            <div class="mr-2">
                                {{ search_form.as_p }}
                            </div>
                            <input class="btn btn-primary my-2 my-sm-0" type="submit" value="Найти">
                        </form>
                        {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'author_formset' %}">Author formset</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout_view' %}">
                                {% csrf_token %}
                                <button class="btn btn-danger my-2 my-sm-0" type="submit" value="Выйти из сети">Выйти из сети</button>
                            </form>
                        </li>
                    </ul>
                        {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login_view' %}">Войти в сеть</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_register' %}">Зарегестрироваться</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome, {{ user.username|default:"Пользователь" }}</h1>
            <div class="mt-4">
                <img class="img-fluid rounded" src="{% static 'images/image.jpg' %}">
            </div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-white">
            {% block footer %}
            {% endblock %}
        </div>
    </footer>
</body>
</html>
